.header {
    width: 100%;
    min-height: 110px;
    position: absolute;
}

.header__container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 45px;

    @media (max-width: $mobile-width) {
        padding: 0 15px;
    }
}

.header__nav {
    padding-top: 35px;

    @media (max-width: $tablet-width) {
        padding-top: 28px;
    }

    @media (max-width: $mobile-width) {
        padding-top: 20px;
    }
}