.site-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 33px;
    row-gap: 12px;
}

.site-list__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $alice-blue;
}