.social {
    list-style-type: none;

    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 27px;
    row-gap: 12px;
}

.social__link {
    color: $alice-blue;

    &:focus,
    &:hover {
        color: $quartz;
        opacity: 0.7;
    }

    &:active {
        opacity: 1;
    }
}

.social__icon {
    @media (max-width: $tablet-width) {
        &--ok {
            width: 10px;
            height: 16px;
        }

        &--dzen {
            width: 16px;
            height: 16px;
        }

        &--reddit {
            width: 16px;
            height: 16px;
        }
    }
}